---
id: "bad-request"
class: "four-zero-x"
title: "[400] Bad Request"
meta_tags:
  abstract: "Bad Request"
  description: "Bad Request"
  keywords: "400, Bad, Request"
---

- content_for :content do
  .error
    %h1.message [400] Bad Request