---
id: "unauthorized"
class: "four-zero-x"
title: "[401] Unauthorized"
meta_tags:
  abstract: "Unauthorized"
  description: "Unauthorized"
  keywords: "401, Unauthorized"
---

- content_for :content do
  .error
    %h1.message [401] Unauthorized