---
id: "forbidden"
class: "four-zero-x"
title: "[403] Forbidden"
meta_tags:
  abstract: "Forbidden"
  description: "Forbidden"
  keywords: "403, Forbidden"
---

- content_for :content do
  .error
    %h1.message [403] Forbidden