---
id: "not-found"
class: "four-zero-x"
title: "[404] Something is missing here."
meta_tags:
  abstract: "Something is missing here."
  description: "Something is missing here."
  keywords: "404, Not, Found"
---

- content_for :content do
  .error
    %h1.message [404] Something is missing here.