---
id: "internal-server-error"
class: "five-zero-x"
title: "[500] Oops, the server made a boo boo."
meta_tags:
  abstract: "Oops, the server made a boo boo."
  description: "Oops, the server made a boo boo."
  keywords: "500, Internal, Server, Error, Boo, Oops"
---

- content_for :content do
  .error
    %h1.message [500] Oops, the server made a boo boo.