// _settings.scss
//
// @package errors

// Bourbon
// =======

$asset-pipeline: true;
$em-base: map-get($defaults, baseline);
$retina-suffix: '@2x';

// Breakpoint
// ==========

$breakpoint-no-query-fallbacks: true;
$breakpoint-to-ems: true;

// Modular Scale
// =============

$ms-base: map-get($defaults, baseline);
$ms-ratio: $major-third;

// Contour
// =======

$contour: (
  four-zero-x: (
    gradient: (
      from: #00477A,
      to: #00707A,
      fallback: #00707A
    )
  ),

  five-zero-x: (
    gradient: (
      from: #E60032,
      to: #B30027,
      fallback: #B30027
    )
  )
);

// Media
// =====

$media: (
  screen: (
    small: (
      min-width: 0,
      max-width: 40em
    ),

    medium: (
      min-width: 40em,
      max-width: 64em
    ),

    large: (
      min-width: 64em,
      max-width: 90em,

      canvas: (
        font-size: 110%
      )
    ),

    x-large: (
      min-width: 90em,
      max-width: 120em,

      canvas: (
        font-size: 120%
      )
    ),

    xx-large: (
      min-width: 120em,
      max-width: 99999999em
    )
  )
);